{% load i18n static %}

<!-- BREADCRUMB SECTION START -->
<div class="ul-container">
    <div class="ul-breadcrumb">
        <h2 class="ul-breadcrumb-title">Shop Details</h2>
        <div class="ul-breadcrumb-nav">
            <a href="index.html"><i class="flaticon-home"></i> Home</a>
            <!-- <div> -->
            <i class="flaticon-arrow-point-to-right"></i>
            <a href="shop.html">Shop</a>
            <!-- </div>
            <div> -->
            <i class="flaticon-arrow-point-to-right"></i>
            <span class="current-page">Shop Details</span>
            <!-- </div> -->
        </div>
    </div>
</div>
<!-- BREADCRUMB SECTION END -->