<!-- alfenna/templates/components/header/main/header_main.html -->
{% load static atelier_images %}
<div class="header-main-wrapper">
  <div class="header-logo">
    <a href="{{ home_url }}">
      {% responsive_picture logo_src|default:'images/logo.webp' alt=logo_alt|default:'logo' cls="img-fluid" %}
    </a>
  </div>

  <div class="header-menu d-none d-lg-block">
    <ul class="nav-menu">
      {% for item in menu %}
        <li>
          <a href="{{ item.url|default:'#' }}">{{ item.label }}</a>
          {% if item.children %}
            <ul class="sub-menu">
              {% for sub in item.children %}
                <li><a href="{{ sub.url|default:'#' }}">{{ sub.label }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if show_auth_links %}
  <div class="header-sign-in-up d-none d-lg-block">
    {% include 'components/header/auth_links.html' %}
  </div>
  {% endif %}

  <div class="d-lg-none" style="display:none"></div>

  <div class="header-toggle d-lg-none pe-2">
    <a class="menu-toggle" href="javascript:void(0)" id="mobileToggle">
      <span></span><span></span><span></span>
    </a>
  </div>
</div>

{% if debug_header %}
<!-- DEBUG header/main
     received_keys={{ debug_header.received_keys|join:', ' }}
     anomalies={% for a in debug_header.anomalies %}[{{ forloop.counter }}] {{ a }} {% endfor %}
-->
{% endif %}
