<!-- Modal de Connexion -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" action="{% url 'pages:login' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Se connecter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <!-- Champs de connexion -->
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="id_username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="id_password" name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    <button type="button" class="btn btn-link" id="openSignupModal">S'inscrire</button>
                </div>
            </div>
        </form>
    </div>
</div>
