{% extends "base.html" %}

{% block extra_css %}
    <!-- Swiper CSS (CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock extra_css %}

{% block content %}
    {{ slots_html.vendors|default_if_none:""|safe }}
    {{ slots_html.modals_login|default_if_none:""|safe }}
    {{ slots_html.header|default_if_none:""|safe }}
    {{ slots_html.hero|default_if_none:""|safe }}
    {{ slots_html.program_roadmap|default_if_none:""|safe }}
    {{ slots_html.faq|default_if_none:""|safe }}
{% endblock %}





