{% extends "base.html" %}

{% block content %}
{{ slots_html.vendors|default_if_none:""|safe }}
{{ slots_html.header|default_if_none:""|safe }}
<div class="d-none d-md-block">
    <div class="section-padding"></div>
</div>
<div class="section-padding"></div>
{{ slots_html.product_hero|default_if_none:""|safe }}
{{ slots_html.sticky_buybar_v2|default_if_none:""|safe }}
{{ slots_html.before_after_wipe|default_if_none:""|safe }}
<div class="section-padding"></div>
{{ slots_html.gallery|default_if_none:""|safe }}
{{ slots_html.faq|default_if_none:""|safe }}
{% endblock %}
