{% load static atelier_utils %}
<div class="section">
  <div class="section-padding-02">
    <div class="cover-wrapper">
      <div class="container">
        <div class="d-flex flex-column align-items-center">
          <div class="section-title text-center">
            <h2 class="main-title mb-2">{% render_string title_html %}</h2>
            {% if subtitle %}<h3 class="sub-title text-black mb-4">{{ subtitle }}</h3>{% endif %}
          </div>

          <div class="row">
            {% for card in cards %}
              <div class="col-12 col-sm-6 col-lg-4 text-center mb-4">
                <div class="card bg-transparent p-3 border-0">
                  <div class="card-header d-flex justify-content-center align-items-center bg-transparent border-0">
                    <div class="cover-icon"><i class="{{ card.icon }}"></i></div>
                  </div>
                  <div class="card-body bg-light pt-4 rounded-4">
                    <p class="h5 text-dark"><span class="fw-bold">{{ card.title }}</span> {{ card.text }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
