<!-- templates/form_modal_with_hierarchy.html -->
{% load static %}
{% load widget_tweaks %}

<!-- Version 2 -->
<div class="modal fade " id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm modal-width">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Apprenez à fabriquer des bougies en ligne</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p class="text-center text-success fw-bold">Accès à la formation aujourd’hui</p>

                <!-- Ajout des textes encadrés en vert -->
                <div class="alert alert-success text-center" role="alert">
                    Nous vous contacterons pour finaliser votre inscription.
                </div>

                <form method="post" id="reservation-form" action="{{action_form}}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field|add_class:"form-control border border-secondary my-2" }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button id="submit" type="submit" class="btn btn-success w-100">Accédez à la formation</button>
                </form>
                <p class="mt-2 text-center text-muted" style="font-size: 12px;">
                    <i class="fas fa-lock" style="color: #343a40; margin-right: 5px;"></i>
                    <!-- Icône de cadenas en vert -->
                    Formulaire sécurisé.
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    /* Style personnalisé pour définir une largeur fixe */
    .modal-width {
        max-width: 380px; /* Largeur fixe */
        width: 100%; /* Assure que le modal ne dépasse pas la largeur maximale */
        margin: auto; /* Centre le modal horizontalement */
    }

    /* Optionnel : pour des écrans plus petits, ajuster la largeur */
    @media (max-width: 576px) {
        .modal-width {
            max-width: 90%; /* Réduit la largeur sur les petits écrans */
        }
    }
</style>
